:root {
  --cls--prime: rgb(0, 129, 112);
  --cls--seco: rgb(0, 91, 65);
  --cls--teri: rgb(35, 45, 63);
  --cls--forth: rgb(15, 15, 15);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
